on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: 'print folder before'
        run: ls

      - uses: actions/checkout@v3

      - name: 'print folder after'
        run: ls