on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: "Login to Dockerhup"
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: "Building docker image"
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mohamed_nasr_2023040235:latest .
      - name: ØŸPush to docker"
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mohamed_nasr_2023040235:latest