on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: 'Testign Githup action'
        run: pwd

      - name: 'Test print'
        run: echo Mohamed